h1{
    display:block;
    background-color: rgb(205, 225, 241);
}

a#click{
    display:block;
    font-size: 30px;
    position: relative; 
    top: 10px;
    left:20px;
}


p{
    font-size: 20px;
    position: relative; 
    top:-10px;
    
   
}